.App {
}

.card-github {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-inner-github {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    width: 150px;
    height: 120px;
    border-radius: 25px;
}
